canvas {
    background-color: #058ED9;
}

.game-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#ui {
    position: absolute;
    right: 0;
    background: white;
    width: 0;
    height: 100vh;
    opacity: 1;
}

#ui .content {
    width: 100%;
    height: calc(100vh - 1rem);
    overflow-y: auto;
    overflow-x: hidden;
}

#ui.active {
    width: 300px;
    padding: 1rem;
    box-shadow: 0 0 20px #00000096;
}

#ui.active.in-game {
    opacity: 0.5;
}

#ui .toggle-button {
    position: absolute;
    left: -60px;
    top: 20px;
    border: 0;
    background: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
}

#partials {
    position: absolute;
    width: 300px;
    bottom: 10px;
    left: 10px;
}

#partials ul li img {
    width: 32px;
}

@media screen and (max-width: 1160px) {
    #partials {
        width: 150px;
    }

    #partials ul li img {
        width: 16px;
    }
}