body, html {
    margin: 0px;
}

canvas {
    background-color: #058ED9;
    margin: 0 auto;
    display: block;
}

.game-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@media screen and (max-width: 1660px) {
    canvas {
        zoom: 0.7;
        -moz-transform: scale(0.7) translate(-17%, -25%);
    }
}

@media screen and (max-width: 960px) {
    canvas {
        zoom: 0.7;
        -moz-transform: scale(0.7) translate(-17%, -25%);
    }
}

@media screen and (max-width: 1160px) {
    canvas {
        zoom: 0.5;
        -moz-transform: scale(0.5) translate(-25%, -25%);
    }
}

@media screen and (max-width: 460px) {
    canvas {
        zoom: 0.4;
        -moz-transform: scale(0.4) translate(-25%, -25%);
    }
}